body {
    font-family: Arial, sans-serif;
    margin: 20px;
}
* {
    box-sizing: border-box;
}

/* Center all elements inside app-select */
.app-select {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ff2b2b;
    border-radius: 50px;
    min-height: 80px; 
}

/* Set size to zero when empty */
#search-container:empty,
#results:empty,
#selected-app:empty {
    width: 0;
    height: 0;
    margin: 0;
    padding: 0;
    overflow: hidden;
}



.search-container {
    margin: 20px;
}

.results {
    list-style-type: none;
    margin: 20px;
    padding: 0;
}

.results li div {
    border: 1px solid #ddd;
    margin-top: -1px; /* Prevent double borders */
    background-color: #f6f6f6;
    padding: 12px; 
    display: flex;
}

.results li div a {
    text-decoration: none;
    font-size: 18px;
    color: black;
    /* center a within a div */
    display: flex;
    align-items: center;
    margin-left: 20px;
}

.results li div img {
    display: block;
    /* margin: auto; */
    width: 50px;
    height: auto;
    border-radius: 20% / 20%;
}

.results li div:hover:not(.header) {
    background-color: #eee;
}


.selected-app {
    /* background-color: #514ade; */
    display: flex;
    align-items: center;
    border-radius: 15px;
    height: 80px;
}

.selected-app img {
    height: 80%;
    width: auto;
    border-radius: 20% / 20%;
}

/* Add a smooth transition for better UX */
#search-container,
#results,
#selected-app {
    transition: all 0.3s ease;
}
